
.checkout{ 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.images{
     box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 3px;
     
}

.images:hover{
    transform: scale(1.03);
     transition:transform 0.5s ease;

}

.payment {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


  transition: box-shadow 0.5s ease;
}

.payment:hover {
  border-color: #e91e63; /* changes to pink smoothly */
  
box-shadow: rgba(235, 141, 11, 0.4) 0px 5px, rgba(230, 8, 148, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.animated-border{
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);

    animation: backChange 3s infinite alternate ease-in-out;
}

@keyframes backChange {
    0%{
         border: 2px solid rgba(0, 0, 0, 0.2);
    }

    25%{
         border: 2px solid rgba(205, 16, 16, 0.2);

    }

    50%{
         border: 2px solid rgba(20, 116, 241, 0.2);
    }

    75%{
        border: 2px solid rgba(245, 12, 144, 0.2);
    }

    100%{
        border: 2px solid rgba(15, 179, 171, 0.2);
    }
    
}
