.div1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.adding-product input{ 
      border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.adding-product select{ 
      border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.adding-product textarea{ 
      border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}