.shipping{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.details-shipping input{
    border-radius: 13px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}

.details-shipping input:focus{
    border: 2px solid black;
}