.cont{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slide-container {
    transition: transform 0.5s ease-in-out;
}


.notif-cont {
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: transform 0.2s ease; /* smooth transition */
  transform: scale(1);             /* initial scale */
}

.notif-cont:hover {
  cursor: pointer;
  transform: scale(1.02);          /* scale up slightly on hover */
}

