@import "tailwindcss";

body{
    margin: 0px;
    
    padding: 0px;
    box-sizing: border-box;
}


:root{
    margin: 0px;
    padding: 0px;
}
li{
    list-style-type: none;
    color: beige;
}
a.active{
    border-bottom: 4px white solid;

}